html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

h2 {

}

p {

}

a {
  color: aquamarine;
  font-size: 16px;
}

footer p {
  
}