html {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

header p a {
  color: aquamarine;
  font-size: 16px;
}
